<h1>Listing nodes with parent_taxid <%=params[:parent_taxid]%></h1>

<%#= link_to 'Up', params.merge(:taxid => params[:parent_taxid], :parent_taxid => nil) %>

<table>
  <tr>
    <th>Parent Taxid</th>
    <th>Taxid</th>
    <th>Rank</th>
    <th>Scientific Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% (@ancestors + [@node] + @nodes).compact.each do |node| %>
  <tr class='<%= ( node.parent_taxid.to_s == params[:parent_taxid] ) ? 'parent' : 'other' %>' >
    <td><%= node.parent_taxid %></td>
    <td><%= link_to node.taxid, { :parent_taxid => node.taxid } %></td>
    <td><%= node.rank %></td>
    <td><%= node.scientific_name %></td>
    <td><%= link_to 'Show', node %></td>
    <td><%#= link_to 'Edit', edit_node_path(node) %></td>
    <td><%#= link_to 'Destroy', node, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Node', new_node_path %>
