<p id="notice"><%= notice %></p>

<p>
  <b>File name:</b>
  <%= @blast_result.file_name %>
</p>

<p>
  <b>contig_name:</b>
  <%= @blast_result.contig_name %>
</p>

<p>
  <b>contig_description:</b>
  <%= @blast_result.contig_description %>
</p>

<p>
  <b>contig_length:</b>
  <%= @blast_result.contig_length %>
</p>

<p>
  <b>seq_name:</b>
  <%= @blast_result.seq_name %>
</p>

<p>
  <b>seq_length:</b>
  <%= @blast_result.seq_length %>
</p>

<p>
  <b>Bitscore:</b>
  <%= @blast_result.bitscore %>
</p>

<p>
  <b>Score:</b>
  <%= @blast_result.score %>
</p>

<p>
  <b>Expect:</b>
  <%= @blast_result.expect %>
</p>

<p>
  <b>Identities:</b>
  <%= @blast_result.identities %>
</p>

<p>
  <b>Identities percent:</b>
  <%= @blast_result.identities_percent %>
</p>

<p>
  <b>Gaps:</b>
  <%= @blast_result.gaps %>
</p>

<p>
  <b>Gaps percent:</b>
  <%= @blast_result.gaps_percent %>
</p>

<p>
  <b>Strand:</b>
  <%= @blast_result.strand %>
</p>

<p>
  <b>Accession prefix:</b>
  <%= @blast_result.accession_prefix %>
</p>

<p>
  <b>Accession:</b>
  <%= @blast_result.accession %>
</p>


<%#= link_to 'Edit', edit_blast_result_path(@blast_result) %> |
<%#= link_to 'Back', blast_results_path %>
